{% extends 'base.html' %}

{% block content %}
 <!-- Home -->
<section class="main">

    <img src="static/images/jonatan-pie-h8nxGssjQXs-unsplash.jpg" alt="Photo by Jonatan Pie on Unsplash" class="index-bg">
        
</section>
<section class="car-inv p-5 mt-10">
    <h2 class="text-center text-light mt-10"> Welcome to Car Inventory!</h2>
    <p class="text-center text-light p-5">Car Inventory is a great place to share your love for cars! </p>


<footer class="fixed-bottom">
    <div class="footport">
        <div class="contact" id="info">
            <div class="footport-head">
                <h4>Contact Us</h4>   
            </div>
            <div class="email">
                <p class="port-text"><i class="far fa-envelope"></i> Email: carinventory@gmail.com</p>
            </div>
            <div class="phone">
                <p class="port-text"><i class="fas fa-mobile"></i> Phone:(555)-555-5555</p>
            </div>
        </div>

        
    </div>
    <div class="copyright">
        <p class="foot-text">&copy; Breanne Bryan 2023</p>
    </div> 

</footer>


</body>
</html>
{% endblock %}